<footer class="border-t border-green-400 py-8 mt-20">

  <div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-4">

    <p class="text-gray-600 text-sm text-center sm:text-left wrap-break-words">
      © {{ year }} Cedric Campagne - Built with Angular & Tailwind
    </p>


    <div class="flex items-center gap-6 text-sm">

      <a
        href="https://github.com/CedricCampagne"
        target="_blank"
        class="text-gray-600 hover:text-green-600 hover:underline hover:underline-offset-2 transition-all duration-500"
      >
        GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/c%C3%A9driccampagne/"
        target="_blank"
        class="text-gray-600 hover:text-green-600 hover:underline hover:underline-offset-2 transition-all duration-500"
      >
        LinkedIn
      </a>


      <a
        href="mailto:ced.campagne@gmail.com"
        class="text-gray-600 hover:text-green-600 hover:underline hover:underline-offset-2 transition-all duration-500"
      >
        Email
      </a>

    </div>

  </div>

</footer>