<section
  class="min-h-screen flex flex-col-reverse md:flex-row items-center px-8 md:px-20 py-20 relative bg-gradient-to-b from-white to-gray-50 max-w-7xl mx-auto"
>

  <!-- Texte -->
  <div class="flex-[0.55] text-center md:text-left space-y-6 z-10">

    <h1 class="text-4xl md:text-6xl font-bold text-gray-900">
      Cedric Campagne
    </h1>

    <p class="text-lg md:text-2xl text-gray-700">
        Développeur Full Stack Junior | Angular • TypeScript • Java • Spring Boot
    </p>

    <p class="text-sm md:text-base text-gray-500 italic my-8">
      Comprendre avant d’implémenter.
    </p>


    <div class="flex flex-col gap-2 sm:flex-row justify-center md:justify-start space-x-4 mt-6">

      <a
        href="#projects"
        class="w-full sm:w-auto border-2 border-green-500 bg-green-500 text-white px-6 py-3 rounded hover:bg-white hover:text-green-500 transition duration-500"
      >
        Mes projets
      </a>


      <a
        href="mailto:ced.campagne@gmail.com"
        class="w-full sm:w-auto border-2 border-green-500 bg-green-500 text-white px-6 py-3 rounded hover:bg-white hover:text-green-500 transition"
      >
        Me contacter
      </a>

    </div>

  </div>


  <!-- Photo -->
  <div class="flex-[0.45] flex justify-center md:justify-center mb-10 md:mb-0 z-10">

    <img
      src="/images/cv_photo.jpeg"
      alt="Cedric Campagne"
      class="w-48 h-48 md:w-56 md:h-56 rounded-full shadow-lg object-cover ring-2 ring-green-500"
    >

  </div>

</section>